*{
text-decoration: none;
margin: 0;
padding: 0;
}
img{
    max-width: 100%;
}
.container_fluid{
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 1440px;
    max-width: 100%;
}

/* Header style */

header{
    background-color: #424141;
}
.heading{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    width: 30%;
}
header .logo img{
    max-width: 200px;
}
.menu{
width: 70%;
text-align: right;
padding-right: 20px;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    padding: 0 15px;
}
.menu ul li a{
    color: #fff;
    font-size: 18px;
}

/* Bannar Area */
.banner{
    height: 100vh;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/background.png);
}
.banner .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.banner .container .h_left{
    width: 50%;
}
.banner .container .h_left h1{
    font-size: 54px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.banner .container .h_left p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}
.button_1{
    font-size: 16px;
    color: #fff;
    background-color: #ff0000;
    padding: 10px 35px;
    border-radius: 3px;
    border: none;
}
.banner .container .h_right{
    width: 50%;
    text-align: right;
}
.banner .container .h_right img{
    max-width: 500px;
}

/* abour area  */

.about{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.about h1{
    
    font-size: 70px;
    font-weight: 700;
    color: #202020;
    margin-bottom: 20px;
}
.about .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.about .container .a_left{
    width: 50%;
    padding-left: 10%;
}
.about .container .a_left img{
    max-width: 500px;
    max-height: 300px;
}

.about .container .a_right{
    width: 50%;
    padding-left: 20%;
}
.about .container .a_right h1{
    font-size: 35px;
    font-weight: 700;
    color: #202020;
    margin-bottom: 20px;
}
.about .container .a_right p{
    font-size: 18px;
    font-weight: 400;
    color: #202020;
    margin-bottom: 20px;
}

/* services area */

.services{
    height: 60vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: url(images/background.png);
    padding-top: 50px;
}
.services h1{
    
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px;
}
.services .s_items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.services .s_items div{
    background-color: #2020206c;
    text-align: center;
    padding:40px 10px;
    max-width: 300px;
    border: 1px solid #808080;
    box-shadow:4px 2px 105px #808080;
    border-radius: 10px;
}
.services .s_items div h1{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
}
.services .s_items div p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
}